/*
// color-palette.scss
*/
$alliance-blue: #0a448e;
$alliance-gold: #fee433;
$alliance-lb: #bce7fd;

$white: #FFFFFF;
$black: #000000;
$dark-gray: #282828;
//#EDEDF4;

$my-lightblue: #007FFF;
$my-darkgreen: #008000;
$my-lightgreen: #00CC00;
$my-darkred: #CC0000;







/////////////////////////////////////

// Grays
$my-color-lt-gray: #e0e0e0;
$my-color-md-gray: #999999;
$my-color-dk-gray: #333333;

// Blues
$my-color-lt-blue: #B2D0FF;
$my-color-md-blue: #326EC8;
