/*
// color-palette.scss
*/

// Grays
$spe-color-white: #ffffff;
$spe-color-lt-gray: #e0e0e0;
$spe-color-md-gray: #999999;
$spe-color-dk-gray: #333333;
$spe-color-black: #000000;

// Blue-Grays
$spe-color-lt-bluegray: #e0e4eb;
$spe-color-md-bluegray: #9c9fac;
$spe-color-dk-bluegray: #57575a;
$spe-color-xd-bluegray: #1c1d22;

// Blues
$spe-color-lt-blue: #B2D0FF;
$spe-color-md-blue: #326EC8;
$spe-color-mm-blue: #646E93;
$spe-color-dk-blue: #26416C;

// Greens
$spe-color-green: 	 #9FCF67;
$spe-color-dk-green: #074a36;

// Oranges
$spe-color-orange: #C63604;
