/*
// mixins/page.scss
*/

.page {
    @include spe-make-row();
	margin: $spe-section-margin $spe-body-gutter;

	.spe-page-content {
		@include spe-make-row();

		&.one-content {
		}
		
		&.two-content {
			.spe-content-area {
				&.primary {
					@include spe-make-column( $xs: 12, $md: 9 );

					@media #{$spe-media-screen-md} {
						& > * {
							margin-right: $spe-section-margin;
						}
					}
				}

				&.secondary {
					@include spe-make-column( $xs: 12, $md: 3 );
				}
			}
		}

		&.three-content {
			position: relative;

			.spe-content-area-container {
				@include spe-make-column( $xs: 12, $md: 9 );
				@include spe-make-column-push( $xs: 0, $md: 3 );

				.spe-content-area {
					&.primary {
						@include spe-make-column( $xs: 12, $lg: 9 );

						@media #{$spe-media-screen-md} {
							& > * {
								margin-left: $spe-section-margin;

								@media #{$spe-media-screen-lg} {
									margin-right: $spe-section-margin;
								}
							}
						}
					}

					&.secondary {
						@include spe-make-column( $xs: 12, $lg: 3 );

						@media #{$spe-media-screen-md} {
							& > * {
								margin-left: $spe-section-margin;

								@media #{$spe-media-screen-lg} {
									margin-left: 0;
								}
							}
						}
					}
				}
			}

			.spe-content-area {
				&.tertiary {
					@include spe-make-column( $xs: 12, $md: 3 );
					@include spe-make-column-pull( $xs: 0, $md: 9 );
				}
			}
		}
	}

	// Import components that will be used in the page
	//@import "c-spe-article-selection";
	//@import "c-spe-article-list";
	//@import "c-spe-article-paginated-list";
	//@import "c-spe-article-detail";
	//@import "c-spe-simple-document";
	//@import "c-spe-advertisement";
	//@import "c-spe-event-listing";
}
