/* For the "inset" look only */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
::-webkit-scrollbar-track:window-inactive {
  -webkit-box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: $alliance-gold-alpha;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, .2);
}
